import time
import asyncio
from pyloggerhelper import log
from etcdproxy import EtcdProxy

etcd = EtcdProxy()


def handdler() -> None:
    for i in range(10):
        etcd.put('/test/foo', f'bar{i}')
        log.info("send msg", value=f'bar{i}', key="foo")
        time.sleep(1)
    etcd.delete_prefix("/test")


async def aiohanddler() -> None:
    for i in range(10):
        await etcd.put('/test/foo', f'bar{i}')
        log.info("send msg", value=f'bar{i}', key="foo")
        await asyncio.sleep(1)
    await etcd.delete_prefix("/test")

